html,
body {
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* MOBILE */

.start-section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 20rem;
}

.start-section > h2 {
  font-size: 6rem;
  font-weight: 700;
  color: #de354c;
  margin: 0.5rem;
}

.start-section > p {
  font-size: 2.5rem;
  font-weight: 100;
  color: #932432;
  margin: 0.5rem;
}

.shapes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  width: auto;
}

#red,
#purple,
#green {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 15rem;
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

#purple {
  background-image: url(purple.png);
  align-self: start;
}

#green {
  background-image: url(green.png);
  align-self: center;
}

#red {
  background-image: url(red.png);
  align-self: flex-end;
}

#purple > p {
  margin-left: -40%;
  font-size: 1.9rem;
  color: #f3f3f3;
  font-weight: 100;
}

#green > p {
  margin-left: -25%;
  font-size: 1.9rem;
  color: #f3f3f3;
  font-weight: 100;
}

#red > p {
  margin-left: -10%;
  margin-top: 12%;
  font-size: 1.9rem;
  color: #f3f3f3;
  font-weight: 100;
}

.about-section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 20rem;
}

.about-section > h2 {
  font-size: 4.8rem;
  font-weight: 700;
  color: #3c1874;
  margin: 0.5rem;
}

.about-section > p {
  font-size: 1.8rem;
  font-weight: 100;
  color: #51417d;
  margin: 0.7rem;
}

.projects-section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 20rem;
  padding-bottom: 9.2rem;
}

.projects-section > h2 {
  font-size: 4.8rem;
  font-weight: 700;
  color: #283747;
  margin: 0.5rem;
}

.projects-section > p {
  font-size: 1.8rem;
  font-weight: 100;
  color: #283747;
  margin: 0.7rem;
}



/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/




.container a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

.project-slider{
 padding-top: 2rem;
}

.textbox {
  background-color:#283747;
  padding-left: 1rem;
  /* padding-left: 4rem; på desktop */
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  opacity: 0.8;
  margin-top: 40vh;
  width: 50%;
  text-align: left;
  font-family: Roboto;
  font-weight: 100;
  color: white

}

.textbox > h2 {
  margin: 0rem;
  font-weight: 100;
  font-size: 2rem;
  
}

.textbox > p {
  padding: 0;
  margin: 0.2rem;
  font-size: 1rem;
  display: none;  
}

.textbox > a {
  color: inherit;
  font-style: italic;
  text-decoration: underline;
}

.container {
	position: relative;
	overflow: hidden;
	height: 75vh; /* Or set a fixed height */
}

/* SLIDER */

.container .slider {
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
  padding-top: 2rem;
}

/* SLIDES */

.container .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.container .prevNext {
  position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.container .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.container .prevNext a {
	background: #fff;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; 
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.container .prevNext a:hover {
	opacity: 1;
}
.container .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.container.bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.container .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.container .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.container .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.container >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}


/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.container >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}


/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}


.contact-section {
  /* margin: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 20rem;
}

.contact-section > h2 {
  font-size: 4.8rem;
  font-weight: 700;
  color: #de354c;
  margin: 0.5rem;
}

.contact-section > p {
  font-size: 1.8rem;
  font-weight: 100;
  color: #932432;
  margin: 0.7rem;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  max-width: 20rem;
}

.logo-wrapper > div {
  height: 5rem;
  width: 5rem;
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

.gh {
  background-image: url(github-logo.png);
}
.ig {
  background-image: url(instagram-logo.png);
}
.li {
  background-image: url(linkedin-logo.png);
}


